
<html ng-app="Antodo">
	<head>
		<title>Angular+Node Todo</title>
		<script src="http://code.jquery.com/jquery-2.1.4.js"></script>
	    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
    	<script src="angular/antodo.js"></script>
    	<script src="nm/node-uuid/uuid.js"></script>
    	<link rel="stylesheet" type="text/css" href="angular/antodo.css"></link>
	</head>
	<body>
		<div id="AntodoOfflineContainer" ng-controller="OfflineController">
			<span>{{ hello }}</span></br>
			<form novalidate>
				<input type="text" ng-model="incoming"></input>
				<input type="submit" ng-click="submit()"></input>
			</form>
			<button ng-click="reset()">Reset your list</button>
			<ul>
				<li ng-repeat="scrap in scraps | orderBy : 'position'">
					<span>{{ scrap.description }}</span>
					<button ng-click="check(scrap)">Done</button>
				</li>
				<li ng-if="scraps.length == 0">
					<strong>Nothing to do for you.</strong>
				</li>
			</ul>
		</div>
	</body>
</html>

