
<html ng-app="Antodo">
	<head>
		<title>Antodo Application</title>
		<script src="nm/jquery/dist/jquery.js"></script>
	    <script src="nm/angular/angular.js"></script>
	    <script src="nm/angular-animate/angular-animate.js"></script>
    	<script src="nm/node-uuid/uuid.js"></script>
    	<script src="angular/antodo.js"></script>
    	<link rel="stylesheet" type="text/css" href="angular/antodo.css"></link>
	</head>
	<body>
		<div id="AntodoOfflineContainer" ng-controller="OfflineController">
			<span>{{ hello }}</span></br>
			<form novalidate>
				<input id="incoming" type="text" ng-model="incoming"></input>
				<input id="submit" type="submit" ng-click="submit()"></input>
				<button id="reset" ng-click="reset()">Reset your list</button>
			</form>
			<ul id="scraps">
				<li ng-repeat="scrap in scraps" draggable="true" antodo-dnd data-scraps="scraps" data-scrap="scrap">
					<span>{{ scrap.description }}</span>
					<button ng-click="check(scrap)">Done</button>
				</li>
				<li id="noscrap" ng-if="scraps.length == 0">
					<strong>Watch Star Wars ... again!</strong>
				</li>
			</ul>
		</div>
	</body>
</html>

