
<html ng-app="Antodo">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Antodo Application</title>
		<script src="nm/jquery/dist/jquery.js"></script>
	    <script src="nm/angular/angular.js"></script>
	    <script src="nm/angular-animate/angular-animate.js"></script>
	    <script src="nm/angular-ui-router/build/angular-ui-router.js"></script>
    	<script src="nm/node-uuid/uuid.js"></script>
    	<script src="nm/bootstrap/dist/js/bootstrap.js"></script>
    	<script src="nm/d3/d3.js"></script>
    	<link rel="stylesheet" type="text/css" href="nm/bootstrap/dist/css/bootstrap.css"></link>
    	<link rel="stylesheet" type="text/css" href="nm/bootstrap/dist/css/bootstrap-theme.css"></link>
    	<script src="angular/antodo.js"></script>
    	<script src="d3/pie.js"></script>
    	<link rel="stylesheet" type="text/css" href="angular/antodo.css"></link>
	</head>
	<body>
		<div id="AntodoOfflineContainer" ng-controller="OfflineController" class="container-fluid">
			<div class="jumbotron page-header">
				<h1>{{ ::hello }}</h1>
				<p>{{ ::greetings }}</p>
			</div>
			<div class="row">
				<div class="col-xs-12">{{ quote }}</div>
			</div></br></br>
			<div class="row">
				<input id="incoming" type="text" ng-model="incoming" class="col-sm-8"></input>
				<button id="submit" ng-click="submit()" class="col-sm-4 btn-success">Submit</button>
			</div></br></br>
			<div class="row">
				<ul id="scraps" class="list-group list-inline">
					<li ng-repeat="scrap in scraps" draggable="true" antodo-dnd data-scraps="scraps" data-scrap="scrap" class="list-group-item" style="width:33%; min-wdth:200px; display:inline-block;">
						<span style="width:80%; overflow:hidden; text-overflow:ellipsis; display:inline-block;">
							{{ scrap.description }}
						</span>
						<button ng-click="check(scrap)" class="btn-warning btn-xs" style="float:right;">Done</button>
					</li>
					<li id="noscrap" ng-if="scraps.length == 0" class="list-group-item" style="width:100%;">
						<strong>You have nothing to do.</strong>
					</li>
				</ul>
			</div></br></br>
			<div class="row">
				<button id="reset" ng-click="reset()" class="col-xs-12 btn-danger">Reset your list</button>
			</div></br>
			<div class="row">
				<a ui-sref='#charts'><button class="col-xs-12 btn-info"> Show charts</button></a>
			</div></br>
			<div class="row" ui-view></div>
		</div>
		<script type="text/template" id="charts-partial">
			</br></br></br><div id="pie" ng-controller="ChartController">
				<div id="charts" style="width: 75%; float: left; min-width: 250px; min-height: 250px"></div>
				<div style="text-align: right; width: 25%; float: right">
					<pre>{{ message }}</pre>
					<button ng-click="pie()" class="btn-warning" style="width: 100%;"> Click here to refresh your charts </button>
				</div>
			</div>
		</script>
	</body>
</html>

